<div class="d-flex min-vh-100" lc-helper="background" style="background:url('../images/FTC-cover.jpg')  center / cover no-repeat; background-color:#444; background-blend-mode: overlay;">
    <div class="align-self-center text-center text-light col-md-8 offset-md-2">
        <div class="mb-4 wow fadeInUp">
            <h1 class="display-1 fw-bolder">Loving God, loving others and serving the world</h1>
        </div>

        <div class="lc-block wow fadeInRight" style="color: #fbc531">
            <p class="lead fw-bold">Welcome to Faith Tabernacle Church, your #1 place to praise the Lord.</p>
        </div>
    </div>
</div>
<div class="section section-lg bg-default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="pre-title wow fadeInLeft" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">Welcome to Rise Church</div>
                    <h2 class="wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">Sharing the God’s love with everyone</h2>
                    <p class="text-sm wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Our mission is helping people find their way back to God. We accomplish this by reaching people far from God, restoring God’s dream for the world, and reproducing this mission in others. There are three key relationships that help you develop a growing relationship with Jesus.</p><a class="shadow btn btn-icon btn-icon-right btn-secondary btn-svg offset-xl-55 wow fadeInUp" href="about-us.html" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <span>More about us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>