@page
@model ForgotPasswordConfirmation
<div class="wrap">
    <div class="wrapper shadow-lg" style="color: #fbc531; background-color: #ffffff">
        <h3>
            Please check your email to reset your password.
        </h3>

    </div>
</div>
