/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --accent-color: #fbc531;
    --main-transition: all 0.3s ease-in-out;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #222;
}
/**/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* custom.css */
.navbar-nav .nav-item .nav-link {
    color: #fff !important;
}

.navbar {
    position: fixed;
    background-color: #1b1b1b43;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--main-transition);
    text-transform: uppercase;
}
    /**/
    .navbar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        transition: var(--main-transition);
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
    }

    .navbar a {
        position: relative;
        text-decoration: none;
        padding: 7px 10px;
        font-weight: 600;
        transition: var(--main-transition);
    }

    .navbar * {
        font-size: 16px;
        letter-spacing: 0.1rem;
    }

    .navbar a.current,
    .navbar a:hover {
        color: var(--accent-color);
    }

    .navbar a.current {
        font-weight: 400;
    }

        .navbar a.current::before {
            content: "";
            width: 5%;
            height: 2px;
            background-color: var(--accent-color);
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            transition: var(--main-transition);
        }

    .navbar.active {
        background-color: #fbc531;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

        .navbar.active a {
            color: #fff;
        }

            .navbar.active a.current::before {
                opacity: 0;
            }

        .navbar.active .container {
            padding: 5px 0;
        }

@media (max-width: 768px) {
    .navbar {
        position: fixed;
        background-color: #00000079;
        top: 0;
        left: 0;
        right: 0;
        transition: var(--main-transition);
        text-transform: uppercase;
    }
}

.section-lg {
    padding: 100px 0;
}
/*BACK TO THE TOP*/
#ui-to-top {
    background: #fbc531;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: .55s all ease-in-out;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F0F0;
    padding-top: 20px;
}

.wrapper {
    width: 320px;
    min-height: 100px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
    padding: 30px;
}

.form-control {
    width: 100%;
    height: 45px;
    border: none;
    padding: 10px;
    background-color: #eeeeee;
    color: gray;
    outline: none;
    font-size: 15px;
    margin-bottom: 20px;
    transition: .5s;
    border-radius: 5px;
}
.heading {
    color: #3B3663;
    margin-bottom: 20px;
}

    .heading p {
        color: #AAA8BB;
    }

    .heading i {
        font-size: 30px;
        color: #4D61FC;
    }

label {
    color: #AAA8BB;
    font-weight: 400;
}

.login {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #fbc531;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

    .login:hover {
        background-color: #4cd137;
        color: #FFFFFF;
    }
    .resetBtn {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #fbc531;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

    .resetBtn:hover {
        background-color: #e74c3c;
        color: #FFFFFF;
    }
.RegBtn {
    width: 100%;
    height: 45px;
    border: none;
    color: #FFFFFF;
    background-color: #fbc531;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

    .RegBtn:hover {
        background-color: #4cd137;
        color: #FFFFFF;
    }

.row {
    min-width: 5px;
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 15px;
}

.custom-checkbox {
    width: 17px;
    height: 17px;
    border-radius: 5px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 5px;
}

input[type=checkbox]:checked ~ .custom-checkbox {
    background-color: #31285C;
}

    input[type=checkbox]:checked ~ .custom-checkbox::before {
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        display: inline-block;
        font-weight: 900;
        color: #ffffff;
    }
